<br>
<br>
<h3>Reviews</h3>
<br>
<%= form_for city_path action: "reviews#create" do |f| %>
  <%= f.label "Post Your Review Here:" %>
  <br>
  <%= f.text_area :description %>
  <br>
  <%= f.submit "Submit Review"%>
<% end %>
